:root {
  --primary1: #0e402d;
  --primary2: #295135;
  --primary3: #5a6650;
  --neutral1: linen;
  --neutral2: #000000;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--neutral1);
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(Images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.hero-text {
  font-size: 2.5rem;
  line-height: 1.25;
  color: var(--neutral1);
  font-weight: 900;
  margin-inline: 4rem;
}

p.hero-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.project-btn {
  padding: 1em 2em;
  border-radius: 1em;
  font-weight: 700;
  margin-top: 1rem;
  border: none;
  box-shadow: 0px 0px 5px;
}

.project-btn:hover {
  transition: 0.125s ease;
  scale: 1.025;
  cursor: pointer;
}

.wrapper {
  max-width: 60%;
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  place-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

:root {
  --gap: 4rem;
}

.project-header {
  font-size: 3rem;
  margin-top: var(--gap);
  color: var(--neutral2);
}
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin-top: var(--gap);
}

.card {
  aspect-ratio: 1;
  border: solid 3px var(--primary1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 6rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px;
  max-width: 80%;
}

.call-to-action {
  background-color: var(--primary1);
  padding: 1.5em;
  border-radius: 1.5rem;
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  color: white;
  line-height: 1;
  font-weight: 800;
}

p {
  font-weight: 700;
  line-height: 1;
}

.subscribe-btn {
  font-weight: bold;
  border: none;
  border-radius: 100vw;
  padding: 0.5em 2em;
  box-shadow: 3px 3px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subscribe-btn:hover {
  cursor: pointer;
}

input {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
  width: 90%;
  box-shadow: 3px 3px 10px;
}

::placeholder {
  text-align: center;
  margin: none;
  width: 100%;
}
